@font-face {
    font-family: Poppins;
    src: url(../../fonts/Poppins-Regular.ttf);
}
body{
    margin: 0;
    font-family: 'Poppins';
    background-color: rgb(255, 255, 255);
}

/* class navbar */
.navbar{
    background-color: #5b3a94;
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar-container{
    margin-right: 40px;
    margin-left: 20px;
    width: 100%;
    margin-top: 2px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-title{
    font-weight: bold;
}
.navbar-subtitle{
    margin-top: -6px;
    font-size: 10pt;
}
.navbar-items a{
    margin-left: 40px;
    text-decoration: none;
    color: white;
}
.active{
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    background-color: #9d7bda;
}
/* end of navbar */

/* content container */
.content-container{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.content-card{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
.card-title{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
/* end of content */